/*************************/
/* Styling Header */
/*************************/
header{	
  margin: none;
	overflow: hidden;
}

#top-header{
  z-index: 1000; 
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  background-color: white;
}

/****************/
/* Styling Logo */
/****************/
#logo{
    position: top;
    float: left;
    height: 50px;
    background: white;
}

#logo img{
	float: left;
    height: 50px;
}

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
  overflow: hidden;
  background-color: white;
	float: right;
	height: 50px;
  margin-bottom: 20px;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: none;
	background: white;
}
	
#menu li{
  height: 50px;
	display: inline-block;
	padding: none;
	margin: none;
}
	
#menu li a, #menu li span{
  height: 50px;
	display: inline-block;
	padding: 0px 40px;
	text-decoration: none;
	font-weight: 600;
	line-height: 50px;
}
	
#menu li a{
    font-size: 14pt;
	color: rgb(245, 154, 154);
}
	
#menu li:hover a, #menu li span{
	background: white;
	color: rgb(253, 169, 169);
	text-decoration: none;
}

body{
  margin-top: 70px;
	background: #FFFFFF;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 14pt;
  line-height: 1.5;
  text-align: center;
  width: 100%;
}

#wrapper {
    display: block;
    width: 100%;
    margin: auto;
}

#content {
    display:block;
    width: 100%;
    margin: auto;
}

h1, h2, h3{
    font-weight: bold;
    text-align: center;
	margin: 0;
	padding: 0;
	color: #404040;
}
	
p, ol, ul{
	margin-top: 0;
}


ol, ul{
	padding: 0;
	list-style: none;
}
	
.container{
	/* Set width of container to
		1200px and align center */
	margin: 0px auto;
	width: 1200px;
    height: 50%;
}
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }  
}
#slider {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-inline: 200px;
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 18s slider infinite;
}

#slider figure img {
    float: left;
    width: 20%;
}

.block {
    display: block;
}

.container {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-gap: 40px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    padding-bottom: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card {
  background-color: white;
  height: 25rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px 0 lightgray, 0 6px 20px 0 lightgray;
  color: black;
}

.card__name {
  margin-top: 15px;
  font-size: 1.5em;
}

.card__image {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 5px solid rgb(245, 154, 154);
  margin-top: 20px;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 1em;
  width: 13rem;
}

.fa {
  color: white;
}

.circle-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}

.icon-background {
  color: rgb(245, 154, 154);
}

.event {
    width: 20em;
    height: 16rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 lightgray, 0 6px 20px 0 lightgray;
    margin: 0 auto;
    overflow: hidden;
    background-size: cover;
  }
  
  .info {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #fff;
    transform: translateY(100%)
      translateY(-88px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  .info:before {
    z-index: -1;
    display: block;
    position: absolute;
    content: ' ';
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(10px);
    background-size: cover;
    opacity: 0.25;
    transform: translateY(-100%)
      translateY(88px)
      translateZ(0);
    transition: transform 0.5s ease-out;
  }
  
  .event:hover .info,
  .event:hover .info:before {
    transform: translateY(0) translateZ(0);
  }
  
  .title {
    margin: 0;
    padding: 24px;
    font-size: 30px;
    color: rgb(245, 154, 154);
    line-height: 1.5;
  }
  
  .description {
    margin: 0;
    padding: 0 24px 24px;
    font-size: 18px;
    line-height: 1.5;
  }

  .newsletter {
    width: 20em;
    height: 16rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 8px 0 lightgray, 0 6px 20px 0 lightgray;
    margin: 0 auto;
    overflow: hidden;
    background-size: cover;
  }

  .newsletter:hover {
    transition: all 0.2s ease-out;
    box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    top: -4px;
    border: 1px solid #cccccc;
    background-color: white;
  }

  .newsletter:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  .newsletter:hover:before {
    transform: scale(2.15);
  }

.button {
  background-color:rgb(245, 154, 154);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.button:hover {
  color: white;
  box-shadow: 0 4px 8px 0 lightgray, 0 6px 10px 0 lightgray;
}